configuration {
    icon-theme: "Papirus-Dark";
    case-sensitive: false;
    width: 100%;
    threads: 0;
    scroll-method: 0;
    fullscreen: false;
    run-command: "sh -i -c '{cmd}'";
    run-shell-command: "kitty -e sh -i -c '{cmd}'";
    font: "monospace 18";
    modes: [window,drun,run,ssh,calc,emoji];
}

@theme "~/.config/rofi/themes/rofi-base16.rasi"
