[global]
    origin = bottom-right
    font = sans-serif 18
    corner_radius = 20
    frame_color = "#{{base05-hex}}"
    separator_color = "#{{base05-hex}}"

[urgency_low]
    background = "#{{base01-hex}}"
    foreground = "#{{base03-hex}}"

[urgency_normal]
    background = "#{{base02-hex}}"
    foreground = "#{{base05-hex}}"

[urgency_critical]
    background = "#{{base08-hex}}"
    foreground = "#{{base06-hex}}"
