set sandbox none
set statusbar-h-padding 0
set statusbar-v-padding 0
set page-padding 1
set selection-clipboard clipboard
map u scroll half-up
map d scroll half-down
map D toggle_page_mode
map r reload
map R rotate
map K zoom in
map J zoom out
map i recolor
set recolor-lightcolor "#{{base00-hex}}"
set recolor-darkcolor "#{{base07-hex}}"
map p print
set font "monospace 16"
